@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  overflow: hidden;
}


/*  the main header  */

.header {
  background: linear-gradient(0.5turn, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5));
  color: rgba(0, 0, 0, 0.678);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  box-shadow: 0 12px 30px rgba(49, 49, 49, 0.65);
}

.header h1 {
  font-size: 40px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.dish-icon {
  padding-right: 30px;
}

.satellite-icon {
  padding-left: 30px;
  vertical-align: -0.05em;
}

.head-nasa-icon {
  color: red;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 90px;
  vertical-align: -0.35em;
}

.header:hover {
  box-shadow: 0 14px 32px rgba(49, 49, 49, 0.75);
  background: linear-gradient(0.5turn, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.85));
}


/*  the loading page  */

.loader {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  min-height: 100vh;
}

.loader h1 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.load-nasa-icon {
  font-size: 10rem;
}


/*  the main map area  */

.map {
  width: 100vw;
  height: 100vh;
  position: relative;
}


/*  map markers  */

.quake-icon {
  color:rgb(131, 0, 61);
  font-size: 2rem;
  cursor: pointer;
}

.fire-icon {
  color: rgba(255, 72, 0, 0.719);
  font-size: 2.5rem;
  cursor: pointer;
}

.snow-icon {
  color:rgb(0, 183, 255);
  font-size: 2rem;
  cursor: pointer;
}

.storm-icon {
  color: rgba(95, 95, 95, 0.665);
  font-size: 3rem;
  cursor: pointer;
}

.heat-icon {
  color: red;
  font-size: 2rem;
  cursor: pointer;
}

.flood-icon {
  color: rgba(0, 0, 255, 0.89);
  font-size: 1.5rem;
  cursor: pointer;
}

.ice-icon {
  color: rgba(107, 53, 255, 0.76);
  font-size: 1.5rem;
  cursor: pointer;
}

.volcano-icon {
  color: rgb(119, 60, 60);
  font-size: 1.5rem;
  cursor: pointer;
}

.drought-icon {
  color: black;
  font-size: 2rem;
  cursor: pointer;
}

.dust-icon {
  color: rgb(255, 166, 0);
  font-size: 2.5rem;
  cursor: pointer;
}

.slide-icon {
  color: black;
  font-size: 2rem;
  cursor: pointer;
}

.man-icon {
  color: rgb(255, 35, 182);
  font-size: 2rem;
  cursor: pointer;
}

.water-icon {
  color:blue;
  font-size: 2rem;
  cursor: pointer;
}




/*  marker info tags  */

.location-info {
  position: absolute;
  bottom: 100px;
  left: 100px;
  margin-right: 20px;
  min-width: 100px;
  min-height: 100px;
  padding: 30px;
  box-shadow: 8px 8px 10px rgba(63, 63, 63, 0.55);
  background: linear-gradient(0.5turn, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.6));
  border-radius: 20px;
  font-size: 20px;
  color: black;
}

.location-info ul {
  list-style-type: none;
  padding: 0;
}

.location-info ul strong {
  padding-left: 15px;
}

.location-info li {
  padding: 4px 0;
}

.location-info p {
  text-align: center;
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 0;
}

.location-info:hover {
  box-shadow: 10px 10px 12px rgba(63, 63, 63, 0.65);
  background: linear-gradient(0.5turn, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.85));
}


/*  media queries  */

@media screen and (max-width: 1110px) {

  /* resize header */
  .header h1 {
    font-size: 32px;
  }

  .head-nasa-icon {
    font-size: 75px;
  }

  /* resize information display */
  .location-info {
    bottom: 60px;
    left: 60px;
    padding: 15px;
    font-size: 18px;
  }
}

@media screen and (max-width: 970px) {

  /* resize header */
  .header h1 {
    font-size: 24px;
  }

  .head-nasa-icon {
    font-size: 65px;
  }

  /* resize information display */
  .location-info {
    bottom: 60px;
    left: 60px;
    padding: 15px;
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {

  /* resize header */
  .header h1 {
    font-size: 24px;
  }

  .head-nasa-icon {
    font-size: 65px;
  }
  
  .dish-icon, .satellite-icon {
    display: none;
  }

  /* resize information display */
  .location-info {
    bottom: 35px;
    left: 35px;
    padding: 10px;
    font-size: 16px;
  }

  .location-info li {
    padding: 3px 0;
  }

  .location-info p {
    font-size: 12px;
    padding-top: 15px;
  }
}

@media screen and (max-width: 590px) {

  /* resize header */
  .header h1 {
    font-size: 20px;
  }

  .head-nasa-icon {
    font-size: 48px;
  }

  /* resize information display */
  .location-info {
    bottom: 20px;
    left: 20px;
    font-size: 14px;
  }

  .location-info li {
    padding: 2px 0;
  }

  .location-info p {
    font-size: 10px;
    padding-top: 10px;
  }
}

@media screen and (max-width: 500px) {

  /* resize header */
  .header h1 {
    font-size: 15px;
  }

  .head-nasa-icon {
    font-size: 36px;
  }

}

@media screen and (max-width: 395px) {

  /* resize header */
  .header h1 {
    font-size: 12px;
  }

  .head-nasa-icon {
    font-size: 30px;
  }
}

@media screen and (max-width: 325px) {

  /* remove header */
  .header {
    display: none;
  }

  /* remove information display */
  .location-info {
    display: none;
  }
}
